<!DOCTYPE html>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
{% load static from staticfiles %}
<link rel="stylesheet" href="{% static 'css/bootstrap.css' %}">
<link rel="stylesheet" href="{% static 'css/style.css' %}">
{% block head %}{% endblock %}
<title>{% block title %}{{ title }}{% endblock %}</title>

<nav class="navbar navbar-default" role="navigation">
  <div class="container">
    <div class="navbar-header">
      <a class="navbar-brand" href="{% url 'home' %}">{{ site.name }}</a>
    </div>
    <ul class="nav navbar-nav navbar-right">
      {% if user.is_authenticated %}
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown">{{ user.username }} <b class="caret"></b></a>
          <ul class="dropdown-menu">
            <li><a href="{% url 'password_change' %}">Change Password</a></li>
            <li><a href="{% url 'logout' %}">Logout</a></li>
          </ul>
        </li>
      {% else %}
        <li><a href="{% url 'login' %}">Login</a></li>
        <li><a href="{% url 'registration_register' %}">Sign Up</a></li>
      {% endif %}
    </ul>
  </div>
</nav>

<div class="container">
{% block content %}{% endblock %}
</div>

<script src="{% static 'admin/js/jquery.js' %}"></script>
<script src="{% static 'js/bootstrap.js' %}"></script>
{% block scripts %}{% endblock %}
