<!DOCTYPE html>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
{% load static from staticfiles %}
<link rel="stylesheet" href="{% static 'css/bootstrap.css' %}">
<link rel="stylesheet" href="{% static 'css/style.css' %}">
{% block head %}{% endblock %}
<title>{% block title %}{{ title }}{% endblock %}</title>

<nav class="navbar navbar-default" role="navigation">
  <div class="container">
    <div class="navbar-header">
      <a class="navbar-brand" href="{% url 'home' %}">{{ site.name }}</a>
    </div>
    <ul class="nav navbar-nav navbar-right">
      {% if user.is_authenticated %}
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown">
            {% if request.session.user_switched_from %}
              {{ request.session.user_switched_from }} (as {{ user.username }})
            {% else %}
              {{ user.username }}
            {% endif %}
            <b class="caret"></b></a>
          <ul class="dropdown-menu">
            {% if user.is_staff %}
            <li><a href="{% url 'admin:index' %}">Site Administration</a></li>
            {% endif %}
            <li><a href="{% url 'user_profile' %}">Edit Profile</a></li>
            {% if request.session.user_switched_from %}
            <li><a href="{% url 'switch_user_back' %}">Switch back to {{ request.session.user_switched_from }}</a></li>
            {% endif %}
            <li><a href="{% url 'logout' %}">Logout</a></li>
          </ul>
        </li>
      {% else %}
        <li><a href="{% url 'login' %}">Login</a></li>
        <li><a href="{% url 'registration_register' %}">Sign Up</a></li>
      {% endif %}
    </ul>
  </div>
</nav>

<div class="container">
{% if messages %}
  {% for message in messages %}
    <div class="alert alert-{% if message.tags == 'error' %}danger{% else %}{{ message.tags }}{% endif %}">
      <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
      {{ message }}
    </div>
  {% endfor %}
{% endif %}
{% block content %}{% endblock %}
</div>

<script src="{% static 'admin/js/jquery.js' %}"></script>
<script src="{% static 'js/bootstrap.js' %}"></script>
{% block scripts %}{% endblock %}
