<!DOCTYPE html>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
{% load static from staticfiles %}
<link rel="stylesheet" href="{% static 'css/bootstrap.css' %}">
<link rel="stylesheet" href="{% static 'css/font-awesome.css' %}">
<link rel="stylesheet" href="{% static 'css/style.css' %}">
{% block head %}{% endblock %}
<title>{% block title %}{{ title }}{% endblock %}</title>
<body class="{% block bodyclass %}hexagon-bg{% endblock %}">
<nav class="navbar navbar-default" role="navigation">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar-collapse">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="{% url 'home' %}">{{ site.name }}</a>
    </div>
    <div class="collapse navbar-collapse" id="navbar-collapse">
      <ul class="nav navbar-nav">
        <li><a href="{% url 'mentoring.views.index' %}">Expertise Exchange</a></li>
        {% if DISCOURSE_SSO_ORIGIN %}<li><a href="{{ DISCOURSE_SSO_ORIGIN }}">Discourse</a></li>{% endif %}
        <li><a href="{% url 'faq' %}">FAQ</a></li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        {% if user.is_authenticated %}
          <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
              {% if request.session.user_switched_from %}
                {{ request.session.user_switched_from }} (as {{ user.username }})
              {% else %}
                {{ user.username }}
              {% endif %}
              <b class="caret"></b></a>
            <ul class="dropdown-menu">
              {% if user.is_staff %}
              <li><a href="{% url 'admin:index' %}">Site Administration</a></li>
              {% endif %}
              <li><a href="{% url 'user_edit' %}">Edit Profile</a></li>
              {% if user.membership.organization %}
              <li><a href="{% url 'organization_edit' organization_slug=user.membership.organization.slug %}">Edit Organization Profile</a></li>
              {% endif %}
              {% if request.session.user_switched_from %}
              <li><a href="#" data-submit-form-onclick>
                <form method="post" action="{% url 'switch_user_back' %}">
                  {% csrf_token %}
                </form>
                Switch back to {{ request.session.user_switched_from }}
              </a></li>
              {% endif %}
              <li><a href="{% url 'logout' %}">Logout</a></li>
            </ul>
          </li>
        {% else %}
          <li><a href="{% url 'login' %}">Login</a></li>
          <li><a href="{% url 'registration_register' %}">Sign Up</a></li>
        {% endif %}
      </ul>
    </div>
  </div>
</nav>

<div class="container primary-content">
{% if messages %}
  {% for message in messages %}
    <div class="alert alert-{% if message.tags == 'error' %}danger{% else %}{{ message.tags }}{% endif %}">
      <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
      {{ message }}
    </div>
  {% endfor %}
{% endif %}
{% block content %}{% endblock %}
</div>

<script src="{% static 'admin/js/jquery.js' %}"></script>
<script src="{% static 'js/bootstrap.js' %}"></script>
<script src="{% static 'js/submit-form-onclick.js' %}"></script>
{% if GA_TRACKING_ID %}
<script src="{% static 'js/ga.js' %}"
        data-tracking-id="{{ GA_TRACKING_ID }}"
        data-hostname="{{ GA_HOSTNAME }}"></script>
{% endif %}
{% block scripts %}{% endblock %}
</body>
