{% extends "base.html" %}
{% load directory %}

{% block title %}Home{% endblock %}

{% block content %}
{% for org in orgs %}
  <h2>{{ org.name }}</h2>
  <p><a href="{{ org.website }}">{{ org.website|domainname }}</a></p>
  <p><small>Hive member since {{ org.hive_member_since|date:"F Y" }}</small></p>
  <p>{{ org.mission }}</p>
  {% if user.is_superuser or user.membership.organization == org %}
    <p><a href="{% url 'organization_profile' org.slug %}" class="btn btn-sm btn-default">Edit</a></p>
  {% endif %}
  {% if show_privileged_info %}
    <ul class="list-unstyled">
    {% for membership in org.membership_directory %}
      <li>
        <address><strong>{{ membership.user.get_full_name }}</strong><br>
          {% if membership.title %}{{ membership.title }}<br>{% endif %}
        <a href="mailto:{{ membership.user.email }}">{{ membership.user.email }}</a>
        {% if user.is_superuser and user != membership.user %}
          <a href="#" class="btn btn-default btn-xs" data-submit-form-onclick>
            <form method="post" action="{% url 'switch_user' membership.user.username %}">
              {% csrf_token %}
            </form>
            Login as this user
          </a>
        {% endif %}
        {% if user == membership.user %}
          <a href="{% url 'user_profile' %}" class="btn btn-default btn-xs">Edit</a>
        {% endif %}
        </address>
      </li>
    {% endfor %}
    </ul>
  {% endif %}
{% endfor %}
{% endblock %}
