{% extends "base.html" %}
{% load directory %}

{% block title %}Home{% endblock %}

{% block content %}
{% for org in orgs %}
  <h2>{{ org.name }}</h2>
  <p><a href="{{ org.website }}">{{ org.website|domainname }}</a></p>
  <p><small>Hive member since {{ org.hive_member_since|date:"F Y" }}</small></p>
  <p>{{ org.mission }}</p>
  {% if user.is_superuser or user.membership.organization == org %}
    <a href="{% url 'organization_profile' org.slug %}" class="btn btn-sm btn-default">Edit</a>
  {% endif %}
  {% if show_privileged_info %}
    <ul class="list-unstyled">
    {% for membership in org.membership_directory %}
      <li>
        <address><strong>{{ membership.user.get_full_name }}</strong><br>
          {% if membership.title %}{{ membership.title }}<br>{% endif %}
        <a href="mailto:{{ membership.user.email }}">{{ membership.user.email }}</a>
        </address>
      </li>
    {% endfor %}
    </ul>
  {% endif %}
{% endfor %}
{% endblock %}
