{% extends "base.html" %}
{% load static from staticfiles %}
{% load directory %}

{% block head %}
  <link rel="stylesheet" href="{% static 'css/typeaheadjs.css' %}">
{% endblock %}

{% block title %}{{ site.name }}{% endblock %}

{% block bodyclass %}{% endblock %}

{% block content %}
{% include "directory/user_apply_alert.html" %}
<div class="jumbotron">
  <h1>Welcome to the 
    {% if city.should_be_mentioned %}
      directory for Hive {{ city.name }}.
    {% else %}
      {{ site.name }}.
    {% endif %}
  </h1>
  <form method="get" action="{% city_url 'search' %}">
    <input class="form-control" placeholder="Search for organizations {% if show_privileged_info %}and people {% endif %}here" data-find-url="{% city_url 'find_json' %}" name="query">
  </form>  
</div>

{% if user.is_staff %}
<div class="btn-group pull-right">
  <button type="button" class="btn btn-xs btn-default dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
    <span class="glyphicon glyphicon-wrench"></span>
    <span class="sr-only">Tools</span> <span class="caret"></span>
  </button>
  <ul class="dropdown-menu" role="menu">
    <li><a href="{% city_url 'importorgs' %}">Organization Import Simulator&hellip;</a></li>
    <li><a href="{% city_url 'widgets' %}">Embeddable Widgets&hellip;</a></li>
  </ul>
</div>
{% endif %}

{% for org in orgs %}
  <h2><a href="{{ org.get_absolute_url }}" class="nondescript-link">{{ org.name }}</a></h2>
  {% include "directory/organization.html" %}
{% endfor %}

<ul class="pager">
  {% if orgs.has_previous %}
  <li><a href="?page={{ orgs.previous_page_number }}">Previous</a></li>
  {% endif %}
  {% if orgs.has_next %}
  <li><a href="?page={{ orgs.next_page_number }}">Next</a></li>
  {% endif %}
</ul>
{% endblock %}

{% block scripts %}
  <script src="{% static 'js/typeahead.jquery.js' %}"></script>
  <script src="{% static 'js/find-url.js' %}"></script>
{% endblock %}
