{% extends "base.html" %}
{% load directory %}

{% block title %}Organization Import Simulator{% endblock %}

{% block content %}
<h1>Organization Import Simulator</h1>

<p>Use the form below to <strong>simulate</strong> a mass import of
  Hive {{ city.name }} organizations from a CSV file.<p>

<p>Consult the <a href="{{ csv_url|safe }}">sample CSV file</a> for
  help getting started.</p>

<p>You can use this page to make sure your data is properly
  formatted, but will need to contact an administrator to actually
  do the import for realsies.</p>

<form action="{% city_url 'importorgs' %}" method="POST">
  {% csrf_token %}
  <div class="form-group">
    <textarea class="form-control" name="csv" placeholder="Paste CSV content here!" rows="25" required></textarea>
  </div>
  <button type="submit" class="btn btn-primary">Simulate Import</button>
</form>

{% endblock %}
