<!DOCTYPE html>
<meta charset="utf-8">
{% load static from staticfiles %}
<link rel="stylesheet" href="{% static 'css/bootstrap.css' %}">
<link rel="stylesheet" href="{% static 'css/style.css' %}">
<title>Hive Members Widget</title>
<ul class="list-unstyled">
{% for org in orgs %}
  <li>
    <a href="{{ org.website }}" target="_blank">{{ org.name }}</a>
    {% for membership_type in org.membership_types.all %}
      <small><span class="label label-default" title="{{ membership_type.description }}">{{ membership_type.name }}</span></small>
    {% endfor %}
  </li>
{% endfor %}
</ul>
<script src="{% static 'js/members_widget_frame.js' %}"></script>
