{% load directory %}

<p>
  <a href="{{ org.website }}">{{ org.website|domainname }}</a>
  {% for channel in org.content_channels.unique_with_icons %}
    <a href="{{ channel.url }}" title="{{ channel.display_name }}"><i class="fa {{ channel.fa_icon }}"></i></a>
  {% endfor %}
  {% if org.twitter_name %}
    <a href="http://twitter.com/{{ org.twitter_name }}" title="This organization is @{{ org.twitter_name }} on Twitter."><i class="fa fa-twitter-square"></i></a>
  {% endif %}
</p>
{% if org.hive_member_since %}
<p><small>
  Hive {{ org.city.shortest_name }} member since {{ org.hive_member_since|date:"F Y" }}
  {% for membership_type in org.membership_types.all %}
    <span class="label label-default" title="{{ membership_type.description }}"><a href="{% url 'organization_membership_type' id=membership_type.id %}">{{ membership_type.name }}</a></span>
  {% endfor %}
</small></p>
{% endif %}
<div class="rendered-markdown">{{ org.mission|markdown }}</div>
{% if user.is_superuser or user.membership.organization == org %}
  <p>
    <a href="{% url 'organization_edit' org.slug %}" class="btn btn-sm btn-default">Edit</a>
    {% if user.is_superuser %}
      <a href="{% url 'admin:directory_organization_change' org.id %}" class="btn btn-sm btn-default">View in Admin Interface</a>
    {% endif %}
  </p>
{% endif %}
{% if show_privileged_info %}
  <ul class="media-list">
  {% for membership in org.membership_directory %}
    <li class="media">
      <a class="pull-left" href="{{ membership.get_absolute_url }}">
        <img class="media-object" src="//gravatar.com/avatar/{{ membership.user.email|emailhash }}?d=mm" alt="gravatar for {{ membership.user.email }}">
      </a>
      <div class="media-body">
        <address><strong><a class="nondescript-link" href="{{ membership.get_absolute_url }}">{{ membership.user.get_full_name }}</a></strong><br>
          {% if membership.title %}{{ membership.title }}<br>{% endif %}
          {% if membership.phone_number %}
          <a href="tel:+1-{{membership.phone_number}}">{{membership.phone_number}}</a><br>
          {% endif %}
          {% if membership.twitter_name %}
          <a href="https://twitter.com/{{membership.twitter_name}}">@{{membership.twitter_name}}</a><br>
          {% endif %}

        <a href="mailto:{{ membership.user.email }}">{{ membership.user.email }}</a>
        {% if user.is_superuser and user != membership.user %}
          <a href="#" class="btn btn-default btn-xs" data-submit-form-onclick>
            <form method="post" action="{% url 'switch_user' membership.user.username %}">
              {% csrf_token %}
            </form>
            Login as this user
          </a>
        {% endif %}
        {% if user == membership.user %}
          <a href="{% url 'user_edit' %}" class="btn btn-default btn-xs">Edit</a>
        {% endif %}
        </address>
      </div>
    </li>
  {% endfor %}
  </ul>
{% endif %}
