{% extends "base.html" %}
{% load directory %}

{% block content %}
<h1>Search Results For "{{query}}"
  {% if city.should_be_mentioned %}in {{ city.name }}{% endif %}</h1>

{% if no_results %}
Sorry, no results matched your query.
{% endif %}

{% if orgs %}
<h2>Organizations</h2>

<ul>
{% for org in orgs %}
  <li><a href="{{ org.get_absolute_url }}">{{ org.name }}</a></li>
{% endfor %}
</ul>
{% endif %}

{% if memberships %}
<h2>People</h2>

<ul class="media-list">
{% for membership in memberships %}
  <li class="media">
    <a class="pull-left" href="{{ membership.get_absolute_url }}">
      <img class="media-object" src="//gravatar.com/avatar/{{ membership.user.email|emailhash }}?d=mm" alt="gravatar for {{ membership.user.email }}">
    </a>
    <div class="media-body">
      <a href="{{ membership.get_absolute_url }}">{{ membership.user.get_full_name }}</a><br>
      <small>
      {% if membership.title %}{{ membership.title }}<br>{% endif %}
      <a href="{{ membership.organization.get_absolute_url }}">{{ membership.organization.name }}</a>
      </small>
    </div>
  </li>
{% endfor %}
</ul>
{% endif %}

{% endblock %}
