{% extends "base.html" %}
{% load crispy_forms_tags %}

{% block title %}User Profile{% endblock %}

{% block content %}
<form method="post" action="{% url 'user_profile' %}">
{% csrf_token %}
<h2>Basic Information</h2>
{{ user_profile_form|crispy }}
{% if membership_form %}
  <h2>Membership Information</h3>
  <p>The following information pertains to your membership in 
    <a href="{% url 'organization_profile' user.membership.organization.slug %}">{{ user.membership.organization.name }}</a>.</p>
  {{ membership_form|crispy }}
{% endif %}
<h2>Expertise</h2>
{% crispy expertise_formset expertise_formset_helper %}
<button type="submit" class="btn btn-primary">Update Profile</button>
<a href="{% url 'password_change' %}" class="btn btn-default">Change Password&hellip;</a>
</form>
{% endblock %}
