{% if not user.membership.organization %}
{% if not request.session.submitted_application %}
  <div class="alert alert-warning">
    {% if not user.get_full_name %}
      Please fill out your name and other details in your <a href="{% url 'user_edit' %}">user profile</a>.
    {% else %}
      You aren't currently a Hive member. If you haven't already, please <a href="{% url 'user_apply' %}">apply for membership</a> so you can have full access to this site.
    {% endif %}
  </div>
{% endif %}
{% endif %}
