{% extends "base.html" %}
{% load crispy_forms_tags %}
{% load directory %}
{% load static from staticfiles %}

{% block title %}User Profile{% endblock %}

{% block content %}

{% if not user.get_full_name %}
<div class="jumbotron">
<h1>Tell us about yourself!</h1>
<p>Please fill out the form below so others in the Hive community can learn a bit more about you.</p>
</div>
{% else %}
{% include "directory/user_apply_alert.html" %}
{% endif %}

<form method="post" action="{% url 'user_edit' %}">
{% csrf_token %}
<h2>Basic Information</h2>
<div class="media">
  <img class="pull-left media-object" src="//gravatar.com/avatar/{{ user.email|emailhash }}?d=mm" alt="gravatar for {{ user.email }}">
  <div class="media-body">
    <p>This is the Globally Recognized Avatar (gravatar) for <strong>{{ user.email }}</strong>.</p>
    <p>If you don't like it, you can change it at <a href="http://gravatar.com/">gravatar.com</a>.</p>
    {% if membership_form %}
    <p>You can also <a href="{{ user.membership.get_absolute_url }}">view your profile</a> as it appears to other Hive members.</p>
    {% endif %}
  </div>
</div>
<br>
{{ user_profile_form|crispy }}
{% if membership_form %}
  <h2>Membership Information</h3>
  <p>The following information pertains to your membership in 
    <a href="{% url 'organization_edit' user.membership.organization.slug %}">{{ user.membership.organization.name }}</a>.</p>
  {{ membership_form|crispy }}
{% elif choose_org_form %}
  <h2>Membership Information</h3>
  <p>Please choose your organizational affiliation below.</p>
  {{ choose_org_form|crispy }}
{% endif %}
<h2>Expertise</h2>
<p>We'd like to make it easy for Hive community members to connect with other people who have skills and expertise they need. So please use the area below to describe how awesome you are.</p>
{% crispy expertise_formset expertise_formset_helper %}
<button type="submit" class="btn btn-primary">Update Profile</button>
<a href="{% url 'password_change' %}" class="btn btn-default">Change Password&hellip;</a>
</form>
{% endblock %}

{% block scripts %}
  <script src="{% static 'js/table-inline-dynamic-formset.js' %}"></script>
{% endblock %}
