{% extends "base.html" %}
{% load directory %}

{% block content %}
<h1>Mentors for {{ category }}</h1>

{% if user.is_authenticated %}
<p>Want to mentor in this area? Just visit your
  <a href="{% url 'user_edit' %}">profile</a>, go to the
  <strong>Expertise</strong> section, and add a
  <em>{{ category }}</em> expertise.</p>
{% endif %}

{% if skills %}
  <ul class="media-list">
  {% for expertise in skills %}
    <li class="media">
      <a class="pull-left" href="{{ expertise.user.get_absolute_url }}">
        <img class="media-object" src="//gravatar.com/avatar/{{ expertise.user.email|emailhash }}?d=mm" alt="gravatar for {{ expertise.user.email }}">
      </a>
      <div class="media-body">
        <a href="{{ expertise.user.get_absolute_url }}">{{ expertise.user.get_full_name }}</a><br>
        {% if expertise.details %}
        <em>&ldquo;{{expertise.details}}&rdquo;</em><br>
        {% endif %}
        <small>
        {% if expertise.user.membership.title %}{{ expertise.user.membership.title }}<br>{% endif %}
        <a href="{{ expertise.user.membership.organization.get_absolute_url }}">{{ expertise.user.membership.organization.name }}</a>
        </small>
      </div>
    </li>
  {% endfor %}
  </ul>
{% else %}
  <p>Unfortunately, there are currently no mentors for {{ category }}.</p>
{% endif %}

<ul class="pager">
  <li class="previous"><a href="{% url 'mentoring.views.index' %}">&larr; Back</a></li>
</ul>

{% endblock %}
