{% extends "base.html" %}

{% block content %}
<h1>Expertise Exchange</h1>

<p>Hive actively supports an open source, laboratory-approach to learning by generating opportunities for exploration, experimentation, iteration, and shared discovery. Hive Expertise Exchange is a concrete example of Hive’s collaborative and participatory values in action. Hive community members can use the Expertise Exchange to identify where holders of expertise and circulate knowledge and discovery.</p>

{% if user.is_authenticated %}
<p>To add yourself as a mentor in any of the areas below, visit your
  <a href="{% url 'user_edit' %}">profile</a> and fill out the
  <strong>Expertise</strong> section.</p>
{% endif %}

<h2>Categories</h2>

<ul class="list-unstyled">
{% for category in categories %}
  <li>
    <p>
      <a href="{% url 'mentoring.views.category_mentors' category.slug %}">{{ category.name }}</a>
      <small>{{ category.count }} mentor{{category.count|pluralize}}</small>
    </p>
  </li>
{% endfor %}
</ul>

{% endblock %}
