{% extends "base.html" %}
{% load crispy_forms_tags %}

{% block title %}New User Registration{% endblock %}

{% block content %}
<div class="row">
  <div class="col-md-4 col-md-offset-4">
    <p>Fill out the form below to sign up.</p>
    {% if form.errors.email %}
    <div class="alert alert-warning">
      If your email address is already in use, you may already
      have an account here. Use the
      <a href="{% url 'password_reset' %}">password reset</a> form to reset
      your password and log in.
    </div>
    {% endif %}
    <form method="post">
      {% csrf_token %}
      {{ form|crispy }}
      <input type="submit" class="btn btn-primary" value="Sign Up">
    </form>
  </div>
</div>

{% endblock %}
