@font-face {
  font-family: "Arvo";
  font-style: normal;
  font-weight: 400;
  src: local("Arvo"), url("//themes.googleusercontent.com/static/fonts/arvo/v6/WJ6D195CfbTRlIs49IbkFw.woff") format("woff");
}

h1, h2, a.navbar-brand {
  font-family: 'Arvo', "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.asteriskField {
  display: none;
}

div.jumbotron {
  background-color: #FFDE2E;
  background-image: url(../img/hexagon.svg);
  background-size: cover;
  background-repeat: no-repeat;
}

div.jumbotron input {
  margin-top: 1em;
}

a {
  color: #FAA336;
}

a:hover {
  color: black;
}

a.nondescript-link {
  color: inherit;
  text-decoration: inherit;
}

a.nondescript-link:hover {
  text-decoration: underline;
}

code {
  white-space: pre-wrap;
}

.navbar-brand {
  background-image: url(../img/hive_logo_square.png);
  background-size: 30px 30px;
  background-repeat: no-repeat;
  background-position: 14px 10px;
  padding-left: 50px;
}

img.user-detail-gravatar {
  width: 100%;
}
